{% extends './base.html' %}
{% block main_content %}
 
  
  <div class="pagetitle">
    {% block title %}Change Password{% endblock title %}
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          {%if request.user.role=='TEACHER'%}
          <a href="{% url 'teacher_dashboard' %}">Home</a>
          {%if request.user.role=='STUDENT'%}
          <a href="{% url 'configuration' %}">Home</a>
          {%else%}
          <a href="{% url 'admin_dashboard' %}">Home</a>
          {% endif %}
        </li>
        <li class="breadcrumb-item active">My Profile</li>
      </ol>
    </nav>
  </div>
  <script>
    setTimeout(function () {
      messageID = document.getElementById("message");
      if (messageID) {
        messageID.style.display = "none";
      }
    }, 6000);
  </script>
  {% if messages %}
  {% for msg in messages %}
    {% if 'password_change_error' in msg.tags %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" id="message">
        <strong>Sorry!!</strong> {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
  <div class="card mb-3">
    <div class="card-body">
      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">You can now change your password</h5>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.old_password.id_for_label }}">Old Password</label><br />
          {{ form.old_password }}
        </div>
        <br />
        <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}">New Password</label><br />
          {{ form.new_password1 }}
        </div>
        <br />
        <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label><br />
          {{ form.new_password2 }}
        </div>
        <br />
        <button class="btn bg-primary text-light" type="submit">Submit</button>
      </form>
    </div>
  </div>

{% endblock main_content %}
