{%extends './base.html'%}
<!--{%load static%}-->
{%block main_content%}
<div class="pagetitle">
  {%block title%}Teacher's Dashboard{%endblock title%}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'teacher_dashboard' %}">Home</a>
      </li>

      <li class="breadcrumb-item active">Teacher's Dashboard</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-6">
      <div class="card bg-success" style="height: 180px">
        <div class="card-body">
          <h5 class="card-title text-light">Courses</h5>
          <div class="d-flex justify-content-center align-items-center">
            <h1 class="display-1 fw-bolder text-dark">{{total_courses}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card bg-primary" style="height: 180px">
        <div class="card-body">
          <h5 class="card-title text-light">Quizes</h5>
          <div class="d-flex justify-content-center align-items-center">

            <h1 class="display-1 fw-bolder text-dark">{{total_quizes}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-6">

        <div class="card bg-secondary" style="height: 180px;">
          <div class="card-body">
            <h5 class="card-title text-light">Progress</h5>

            <div class="d-flex justify-content-center align-items-center">
              <h1 class="display-2 fw-bolder text-dark">{{progress}}%</h1>
            </div>
          </div>
        </div>

      </div> -->
    <div class="col-lg-6">
      <a href="{% url 'discussion_courses' %}">
        <div class="card bg-secondary" style="height: 180px">
          <div class="card-body">
            <h5 class="card-title text-light">Discussion Room</h5>
            <div class="d-flex justify-content-center align-items-center">
              <img
                src="{%static 'img/discussion.png'%}"
                alt=""
                width="90px"
                height="70px"
              />
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6">
  
        <a href="{% url 'my_quizes_results' %}">
          <div class="card bg-primary" style="height: 180px;">
            <div class="card-body">
              <h5 class="card-title text-light">Quiz Results</h5>   
          <div class="d-flex justify-content-center align-items-center">
            <img src="{%static 'img/result.jpg'%}" alt="" width="90px" height="70px" />
          </div>
        </div>
          </div>
          </a>

      </div>
  </div>

 
</section>
{%endblock main_content%}
