{%extends 'configuration/base.html'%}

{%block main_content%}

<div class="pagetitle">
    <!-- Basic Modal -->
    <button type="button" class="btn btn-primary text-light float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
      Add Course
    </button>
  <h1>Courses</h1>
  <script>
    setTimeout(function () {
      messageID = document.getElementById("message");
      if (messageID) {
        messageID.style.display = "none";
      }
    }, 6000);
  </script>
  {% if messages %}
  {% for msg in messages %}
    {% if 'course added' in msg.tags %}
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="message">
         {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}



{% if messages %}
{% for msg in messages %}
  {% if 'learning material added' in msg.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="message">
       {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
{% endfor %}
{% endif %}


{% if messages %}
{% for msg in messages %}
  {% if 'course deleted' in msg.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="message">
       {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
{% endfor %}
{% endif %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'configuration' %}">Home</a></li>
      
      <li class="breadcrumb-item active">Courses</li>
    </ol>
  </nav>
    
</div>
  <div class="container">
   <!-- Active Table -->
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">LEVEL</th>
        <th scope="col">ACTION</th>

        
        
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.level}}</td>
        <td><a href="{%url 'learningmaterials' course.id %}" class="btn btn-sm text-light btn-primary">Learningmaterials</a>
        <a href="{%url 'delete_course' course.id %}" class="btn btn-sm text-light btn-danger">Delete Course</a></td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
  <!-- End Active Table -->
 
  </div>

  </div>
  




  <form method="POST">
    <div class="modal fade" id="basicModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Course</h5>

          </div>
          {% csrf_token %} 
          <div class="modal-body">
           
             
              <div id="Forms">
                <label for="{{name.id_for_label}}">Name</label><br>{{name}}<br>
              </div><br><br><br>
              <div id="FormsP">
                <label for="{{description.id_for_label}}">Description</label><br>{{description}}<br>
              </div><br><br><br>


              <div id="FormsPL">
                <label for="{{level.id_for_label}}">Level</label><br>{{level}}<br>
              </div><br><br><br>
             

             
     
          <div class="modal-footer">
            <button value="submit" class="btn btn-primary text-light">Submit</button>
          </div>
        </div>
      </div>
    </div><!-- End Basic Modal-->
  </form>
  
{%endblock main_content%}














