{%extends 'configuration/base.html'%}
<!--{%load static%}-->
{%block main_content%}
<div class="pagetitle">
  <h1>My Courses</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'configuration' %}">Home</a>
      </li>

      <li class="breadcrumb-item active">My Courses</li>
    </ol>
  </nav>
</div>
<div class="container">
  <!-- Active Table -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">COURSE NAME</th>
        <th scope="col">LEVEL</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for registered in searched_selected_courses %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{registered.course.name}}</td>
        <td>{{registered.course.level}}</td>
        <td>{{registered.course.description}}</td>
        <td>
          
            <a href="{% url 'materials' registered.course.id %}" class="btn btn-sm bg-primary text-light">View Learningmaterials</a>
            <a href="{% url 'cancel_course_selection' registered.id %}" class="btn btn-sm bg-primary text-light">Delete Course</a>&nbsp<td></td>
          </td>
        </td>
       
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Active Table -->
</div>
{%if zero_results%}
<h1 style="text-align: center">No Results Found</h1>
{%endif%} <br />
{%endblock main_content%}
